body {
    background-color: rgb(93, 209, 165);  
  }  <!--Achter grondkleur-->
  
  h2 {
    color: black;
    text-align: center;
  }<!--de horizontale uitlijning van tekst in een element-->
  
  p {
    font-family: verdana; 
    font-size: 20px;
  }
<!--front-size is de grote van de tekst-->
<!--een lijst met lettertypen, van de hoogste prioriteit naar de laagste-->
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;
  }
  <!--list-style-type zijn markeringen van een element-->
  <!--margin is de ruimte rond een html-element-->
  <!--padding is de ruimte tussen de inhoud en de rand-->
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  <!--display is de weergave van een element-->
  <!--text-decoration is decoratie aan je tekst-->

  
  /*  */
  li a:hover {
    background-color: #555;
    color: white;
  }